/* body{
    background-color: red ;

} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Htop{
    
    display: flex;
    background-color:#add8e6 ;
    padding: 15px;
    justify-content: center;
  
}

.Hbottom{
       
    display: flex;
    background-color:#00008b ;
    padding: 25px;
    justify-content: center;
  

}

.logo{
    width: 25%;
    background-color: #daa520;
    border-style: dashed;
    border: 10px solid black dotted;
    padding: 5px;
    
   

}
.link{
    width: 25%;
    background-color: #daa520;
    border-style:dashed ;
    border: 10px solid black dotted;
    text-align: center;
    padding: 5px;

}
.login{
    width: 25%;
    background-color: #daa520;
    border-style: dashed;
    border: 10px solid black dotted;
    text-align: end;
    padding: 5px;

   

}

.container{
    width: 70%;
    height: 250px;
    background-color: #ee82ee;
    border-style: dashed;
    border: 10px solid black dotted

}